<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" type="image/x-icon" href="images/QuerilessFavicon.png"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>Queriless</title>
</head>
<body>

<div class="pill-nav">
    <span sec:authorize="isAuthenticated()"> | Logged user: <span sec:authentication="name"></span>
        | <a th:href="@{/logout}">Sign Out</a> </span>

    <a th:href="@{/profile}">Profile page</a>

    <a th:href="@{/dbmenu}">Database menu </a>
</div>


<div id="main-container">
    <div id="inside-logo">
        <img src="images/QuerilessLogoDark.png" alt="Logo Queriless">
    </div>

    <h3>Administrator: [[${#request.remoteUser}]]</h3>
    <br>
    <div class="pill-blue-button"><a th:href="@{/adduser}" >Add User</a>
    <a th:href="@{/admin/export/pdf}" >Download PDF of user information</a>
        <a th:href="@{/admin/export-logdata/pdf}" >Download log data</a></div>
    <br>
    <table>

        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Name</th>
            <th>Address</th>
            <th>Operations</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="user: ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
            <td th:text="${user.address + ' ' + user.city + ' ' + user.zip}"></td>

            <td>
                <div class="pill-nav"><a  th:href="@{/edit-user/{id}(id=${user.id})}">Update</a></div>
            </td>
            <td>
                <div class="pill-red-button"><a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a></div>
            </td>
        </tr>
        </tbody>

    </table>

</div>

</body>
</html>