<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" type="image/x-icon" href="images/QuerilessFavicon.png"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>Queriless</title>
</head>
<body>

<div class="pill-nav">
    <span sec:authorize="isAuthenticated()"> | Logged user: <span sec:authentication="name"></span>
        | <a th:href="@{/logout}">Sign Out</a> </span>

    <a th:href="@{/profile}">Profile page</a>

    <a th:href="@{/admin}">Administrator page </a>
</div>


<div id="main-container">
    <div id="inside-logo">
        <img src="images/QuerilessLogoDark.png" alt="Logo Queriless">
    </div>

    <h3>Username: [[${#request.remoteUser}]] </h3>

    <table>
        <tr>
            <td class="pill-nav"><a>Show database</a></td>
        </tr>
        <tr>
            <td class="pill-nav"><a>Add record</a></td>
        </tr>
        <tr>
            <td class="pill-nav"><a>Update database</a></td>
        </tr>
        <tr>
            <td class="pill-red-button"><a >Delete record</a></td>
        </tr>
    </table>

</div>


</body>
</html>