<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" type="image/x-icon" href="images/QuerilessFavicon.png"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>Queriless</title>
</head>
<body>

<div class="pill-nav">
    <span sec:authorize="isAuthenticated()"> | Logged user: <span sec:authentication="name"></span>
        | <a th:href="@{/logout}">Sign Out</a> </span>

    <a th:href="@{/profile}">Profile page</a>

    <a th:href="@{/admin}">Administrator page </a>
</div>


<div id="main-container">
    <div id="inside-logo">
        <img src="images/QuerilessLogoDark.png" alt="Logo Queriless">
    </div>
    <table>
        <tr>
            <td>Export database to PDF file:</td>
            <td class="pill-nav"><a th:href="@{/dbmenu/export-beer/pdf}"> Beer database </a></td>
            <td class="pill-nav"><a th:href="@{dbmenu/export-brewer/pdf}"> Brewer database </a></td>
            <td class="pill-nav"><a th:href="@{/dbmenu/export-category/pdf}"> Category database </a></td>
        </tr>
        <tr>
            <td>Create record database:</td>
            <td class="pill-nav"><a th:href="@{/add-beer}"> Beer database </a></td>
            <td class="pill-nav"><a th:href="@{/add-brewer}"> Brewer database </a></td>
            <td class="pill-nav"><a th:href="@{/add-category}"> Category database </a></td>
        </tr>
    </table>

    <table>
        <tr>
            <h3>Search in database beer, brewer and category to perform CRUD operations</h3>
            <form th:action="@{/search}" method="get">
                <td><label>
                    <input type="text" name="keyword" th:value="${keyword}" size="50">
                </label></td>
                <td><button type="submit">Search</button></td>
            </form>
        </tr>
    </table>

</div>
</body>
</html>