<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" type="image/x-icon" href="images/QuerilessFavicon.png"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>Queriless Login</title>
</head>
<body>

<div id="main-container">

    <div id="inside-logo">
        <img src="images/QuerilessLogoDark.png" alt="Logo Queriless">
    </div>

    <div class="container-form">
        <form th:action="@{/login}" method="post">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Invalid username or password.
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    You have been logged out.
                </div>
            </div>
            <table>
                <tr class="form-group">
                    <td><label for="username">Username</label></td>
                    <td><input type="text" id="username" name="username" autofocus="autofocus"></td>
                </tr>
                <tr class="form-group">
                    <td><label for="password">Password</label></td>
                    <td><input type="password" id="password" name="password"></td>
                </tr>
                <tr class="form-group">
                    <td><input type="submit" name="login-submit" id="login-submit" value="Log In"></td>
                    <td><p class="pill-blue-button" >Don't have account?<a th:href="@{/signup}">Sign up here</a></p></td>
                </tr>
            </table>
        </form>
    </div>
</div>

</body>
</html>