<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" type="image/x-icon" href="images/QuerilessFavicon.png"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>Queriless profile</title>
</head>
<body>

<div class="pill-nav">
    <span sec:authorize="isAuthenticated()"> | Logged user: <span sec:authentication="name"></span>
        | <a th:href="@{/logout}">Sign Out</a> </span>

    <a th:href="@{/profile}">Profile page</a>

    <a th:href="@{/admin}">Administrator page </a>
</div>


<div id="main-container">
    <div id="inside-logo">
        <img src="images/QuerilessLogoDark.png" alt="Logo Queriless">
    </div>

    <h3>Profile of: [[${#request.remoteUser}]] </h3>
    <table id="profileList">
        <tr>
            <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
        </tr>
        <tr>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <td th:text="${user.address + ' ' + user.city + ' ' + user.zip}"></td>
        </tr>
    </table>
    <div class="pill-red-button">
        <a th:href="@{delete/{id}(id=${user.id})}">Delete profile</a>
    </div>
</div>

</body>
</html>